/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* see https://infima.dev/docs/getting-started/introduction */
.heroBanner {
  padding-top: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroSubtitle {
  font-size: 2.0rem;
}

.heroLogo {
  width: 1100px;
  height: 350px;
  object-fit: cover;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
  .heroLogo {
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
